.body{
  font-family: 'Roboto', sans-serif;
}
/* Header backgound color  */
.color-honda-cbr{
  background-color: #264653;
}

/* navbar font size & color  */
.color-nab{
  color: rgb(202, 58, 22);
  font-size: 20px;
}
 /* Purchase modal style  */
.first-purchase{
  background-color: #E76F51;
  padding: 10px 40px;
  border-radius: 10px;
}
/* fetures heading style  */
.color-fetures{
  color: #f05630;
}
/* color collection slider  */
.color-collections{
  color:#E76F51 ;
}
/* color gallery style  */
.color-gallery{
  color:#E76F51 ;
}
/* color buy button style  */
.color-buy-button{
  background-color:#E76F51 ;
}
/* Clients heading style  */
.color-Clients{
  color:#E76F51 ;
}
/* rating star style  */
.color-star {  
	color : rgb(236, 119, 9);  
	font-size : 20px;  
}  
.non-color {  
	font-size : 20px;  
}

/* Clients name style  */
.color-actor{
  color: rgb(69, 154, 235);
}

/* questions heading style  */
.color-questions{
  color:#E76F51  ;
}